<mat-list *ngFor="let message of messages">
    <mat-list-item class="mat-list">
        <div mat-line>{{ message.name }}</div>
        <div mat-line> {{ message.email }} </div>
        <div mat-line> {{ message.message.slice(0, 10) }}... </div>
        <div mat-line>{{message.date | date:'medium'}}</div>

        <div mat-line class="actions">
            <button mat-icon-button (click)="openDialog(message)">
                <mat-icon matSuffix>info</mat-icon><span>Info</span>
            </button>
            <button mat-icon-button (click)="delete(message.id)">
                <mat-icon matSuffix>delete</mat-icon><span>Delete</span>
            </button>
        </div>


        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<mat-card *ngIf="messages.length < 1 || !messages" class="order-card">
    <mat-card-header class="mat-card-header">
        <mat-card-title class="promo-title">
            <mat-icon class="calendar-icon">mail</mat-icon>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <h1><b>NO PRESENT MESSAGE</b></h1>
    </mat-card-content>
</mat-card>