<footer class="footer-distributed">

    <div class="footer-left">

        <img src="../../../assets/images/derrin_new_logo.png" alt="" srcset="">

    </div>

    <div class="footer-center">

        <div>
            <fa-icon class="fa fa-map-marker" [icon]="faMapMarker"></fa-icon>
            <p class="contact">Diamond Estate, Ologuneru, Ibadan</p>
        </div>

        <div>
            <fa-icon class="fa fa-phone" [icon]="faPhone"></fa-icon>
            <a class="contact" href="tel:+2348020689462" target="_blank"> +234 802 068 9462</a>
        </div>

        <div>
            <fa-icon class="fa fa-envelope" [icon]="faEnvelope"></fa-icon>
            <p><a class="contact" target="_blank" href="mailto:aderinsolacynthia@gmail.com">support@cakesnmore.com</a>
            </p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            We're the No. 1 Online Bakeshop and we deliver delectable cakes and confectioners at very affordable prices.
            We're your plug for everything flour, butter, eggs and sugar..
        </p>

        <div class="footer-icons">

            <a target="_blank" href="https://twitter.com/cakesnmore_ng">
                <fa-icon class="socialMedia" [icon]="faTwitter"></fa-icon>
            </a>
            <a target="_blank" href="https://t.co/c86dCrsYBT?amp=1">
                <fa-icon class="socialMedia" [icon]="faWhatsapp"></fa-icon>
            </a>
            <a target="_blank" href="https://www.instagram.com/cakesnmore_ng">
                <fa-icon class="socialMedia" [icon]="faInstagram"></fa-icon>
            </a>

        </div>

    </div>
    <p class="footer-company-name">Code$Ville © {{date}}</p>
</footer>