.actions {
  justify-content: space-between;
}

.actions button {
  color: var(--brandcolor);
  border: none;
  padding: 9px 10px;
  border-radius: 15px;
}

.actions span {
  top: -6px;
  position: relative;
  padding: 3px;
}

@media (max-width: 320px) {
  .actions {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 0px;
    align-items: center;
    margin-bottom: -10px;
  }

  h3 {
    font-size: 15px;
  }
}
