<div class="contentDiv">
    <div class="content-heading">
        <h1>Our Pricing</h1>
    </div>

    <div class="pricing">

        
            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>
        
            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>

            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>

            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>

            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>
        
            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>

            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>

            <div class="content">
                <div class="image-content">
                    <img src="../../../assets/images/cake11.jpg" alt="" srcset="">
                </div>
                <div class="info">
                    <p>Cupcake</p>
                    <b>₦5000</b>
                </div>
                <a href="">Order Now</a>
            </div>
    </div>

</div>
