<form class="move-down" [formGroup]="loginForm">
   
    <h2>Login</h2>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Enter your email</mat-label>
        <input matInput type="text" formControlName="email" placeholder="pat@example.com" required>
        <mat-icon matPrefix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button class="mat-btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.arial-label]="'Hide Password'"
        [attr.aria.pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matPrefix>enhanced_encryption</mat-icon>

    </mat-form-field>

    <section>

        <div class="example-button-row">
            <div>
                <button mat-raised-button class="google" color="warn">
                    <fa-icon class="fa-icon" [icon]="faGoogle"></fa-icon>LOGIN WITH GOOGLE
                </button>
            </div>
        </div>
    </section>

    <button mat-raised-button class="submit-button" (click)="login()">Login</button>

</form>
