<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" class="sidenav">
        <mat-nav-list>

            <mat-list-item class="side-list">
                <a (click)="sidenav.close()" matLine routerLink="/home" routerLinkActive="side-active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">home</mat-icon>
                    </button>
                    Home
                </a>
            </mat-list-item>

            <mat-list-item class="side-list">
                <a (click)="sidenav.close()" matLine routerLink="/pricing" routerLinkActive="side-active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">home</mat-icon>
                    </button>
                    Pricing
                </a>
            </mat-list-item>

            <mat-list-item class="side-list">
                <a (click)="sidenav.close()" matLine routerLink="/admin" routerLinkActive="side-active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">home</mat-icon>
                    </button>
                    Admin
                </a>
            </mat-list-item>

        </mat-nav-list>    
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="toolbar">
            <mat-icon  class="menu-icon" (click)="sidenav.toggle()" fxHide.gt-xs>menu</mat-icon>
            <div class="logo">
                <div><a routerLink="/">LOGO</a></div>
            </div>
           
           <div fxHide.xs>
               <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                 <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
                 <li> <a routerLink="/pricing" routerLinkActive="active" class="nav-link">Pricing</a></li>
                 <li><a routerLink="/promos" routerLinkActive="active" class="nav-link">Promos</a></li>
               </ul>
           </div>

        </mat-toolbar>

        <main>
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>