<div class="wrapper">
  <mat-card class="example-card" *ngFor="let promo of promos">
    <mat-card-header>
      <mat-card-title class="promo-title">{{promo.promoName}}</mat-card-title>
      <mat-card-subtitle class="promo-sub">From {{promo.startDate.toDate() | date:'mediumDate'}} to
        {{promo.endDate.toDate() | date:'mediumDate'}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="promo.imageUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{promo.promoDetails}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="deletePromo(promo.id)" *ngIf="router.url.includes('admin')" mat-fab color="accent"
        class="del-btn" aria-label="Example icon button with a bookmark icon">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>


  <mat-card class="order-card" *ngIf="!promos || promos.length < 1">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="promo-title">
        <mat-icon class="calendar-icon">campaign</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <h1><b>NO PRESENT PROMO</b></h1>
    </mat-card-content>
  </mat-card>

</div>


<button class="add-btn" matSuffix *ngIf="router.url.includes('admin')" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>