<mat-list *ngFor="let order of (orders | async)">
    <mat-list-item>
      <img  mat-list-avatar [src]="order.product.productImageUrl" alt="Product Image">
      <div mat-line>{{ order.name }}</div>
      <div mat-line> {{ order.phone }} </div>
      <div mat-line> {{ order.date | date:'medium' }} </div>
      <button mat-icon-button>
        <mat-icon matSuffix>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(order.id)">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
