<mat-list>
    <mat-list-item>
      <img  mat-list-avatar src="../../../assets/images/cake10.jpg" alt="Post Image">
      <div mat-line>Post Title</div>
      <div mat-line> 2 days ago </div>
      <button mat-icon-button>
        <mat-icon matSuffix>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<mat-list>
    <mat-list-item>
      <img  mat-list-avatar src="../../../assets/images/cake11.jpg" alt="Post Image">
      <div mat-line>Post Title</div>
      <div mat-line> 2 days ago </div>
      <button mat-icon-button>
        <mat-icon matSuffix>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<mat-list>
    <mat-list-item>
      <img  mat-list-avatar src="../../../assets/images/cake12.jpg" alt="Post Image">
      <div mat-line>Post Title</div>
      <div mat-line> 2 days ago </div>
      <button mat-icon-button>
        <mat-icon matSuffix>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<mat-list>
    <mat-list-item>
      <img  mat-list-avatar src="../../../assets/images/cake13.jpg" alt="Post Image">
      <div mat-line>Post Title</div>
      <div mat-line> 2 days ago </div>
      <button mat-icon-button>
        <mat-icon matSuffix>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
