<header>
  <div class="content">
    <div class="writeUp">
      <h1>Delicious </h1>
      <h2>cakes for you</h2>
      <p>Cakes n More offers the very best <br> cakes for you</p>
      <a href="">place order</a>
    </div>

    <img src="../../../assets/images/cake1.png" alt="Cake Image">
  </div>
</header>

<section id="about">
  <div class="flexDiv">

    <div class="writeUp">
      <h1>About Us</h1>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Deleniti voluptate veritatis debitis est provident. Cupiditate,
        eveniet error, deleniti aliquam
        exercitationem, quidem nemo sed voluptatem ab fugiat alias eius! Quaerat, fugit!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Deleniti voluptate veritatis debitis est provident. Cupiditate,
        eveniet error, deleniti aliquam
        exercitationem, quidem nemo sed voluptatem ab fugiat alias eius! Quaerat, fugit!
      </p>

    </div>

    <img src="../../../assets/images/strawcake.jpg" alt="About Section Image">
  </div>
</section>

<section id="services">
  <div class="services-heading">
    <h1>Our Services</h1>
  </div>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="../../../assets/images/cupcake.png" alt="Cupcake Image" class="cupcake">
      <p>Cupcakes</p>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/images/Donut.png" alt="Doughnut Image" class="donut">
      <p>Doughnut</p>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/images/header.png" alt="Cake Image" class="cake">
      <p>Cakes</p>
    </ng-template>
    <ng-template carouselSlide>
      <img src="../../../assets/images/cookey patch patch.png" alt="Cookies Image" class="cookey">
      <p>Cookies</p>
    </ng-template>
  </owl-carousel-o>

  <div class="service-con">

    <div class="Img">
      <img src="../../../assets/images/cupcake.png" alt="Cupcake Image" class="cupcake" />

      <p>Cupcakes</p>
    </div>

    <div class="Img">
      <img src="../../../assets/images/Donut.png" alt="Donut Image" class="donut" />
      <p class="donutP">Doughnut</p>
    </div>

    <div class="Img">
      <img src="../../../assets/images/header.png" alt="Cake Image" class="cake" />
      <p>Cakes</p>
    </div>

    <div class="Img">
      <img src="../../../assets/images/cookey patch patch.png" alt="Cookies Image" class="cookey" />
      <p>Cookies</p>
    </div>
  </div>

</section>

<section id="contact-us">
  <h1 class="contact-header">Contact Us</h1>
  <form class="contact-form" [formGroup]="contactUsForm">
    <input type="text" formControlName="name" class="feedback-input" placeholder="Name" />
    <input type="text" formControlName="email" class="feedback-input" placeholder="Email" />
    <textarea class="feedback-input" formControlName="message" placeholder="Message"></textarea>
    <button type="button" (click)="submit()">Submit</button>
  </form>
</section>